.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
  overflow: auto;
  animation: lightboxIn .5s;
  opacity: 1;
  transition: opacity .3s;
}

.lightbox.fadeout {
  opacity: 0;
}
.lightbox_close {
  background: url(../assets/icons/close.svg) center center / 100% 100% no-repeat;
  width: 20px;
  height: 20px;
  z-index: 12;
  position: fixed;
  right: 10px;
  top: 10px;
}
.lightbox_next,
.lightbox_prev {
  background: url(../assets/icons/arrow.svg) center center / 100% 100% no-repeat;
  width: 48px;
  height: 48px;
  position: fixed;
  top: 50%;
  margin-top: -24px;
  right: 0px;
  z-index: 11;
}
.lightbox_prev {
  right: auto;
  left: 0px;
  transform: rotate(180deg);
}
.lightbox button {
  border: 0px solid transparent;
  text-indent: -3000px;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s;
}
.lightbox button:hover {
  opacity: 1;
}
.lightbox_container {
  margin: 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.lightbox_container img {
  max-width: 100%;
  width: auto;
  height: 70vh;
  animation: lightboxIn .5s;

}
.lightbox_loader {
  width: 38px;
  height: 38px;
  opacity: .5;
  background: url(../assets/icons/loader.svg) center center no-repeat;
}


@keyframes lightboxIn  {
  from {opacity:0;}
  to {opacity:1;}
}