#contact_modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
  overflow: auto;
  animation: lightboxIn 0.5s;
  opacity: 1;
  transition: opacity 0.3s;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 auto;
  padding: 10px 80px;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.filters {
  margin: 0 auto;
  padding: 10px 80px;
  max-width: 1024px;
}
.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}
@media screen and (max-width: 900px) {
  .contact_button {
    position: absolute;
    bottom: 10px;
    left: calc(50% - 85px);
    font-size: 16px;
    height: auto;
  }
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 60px auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.modal header img {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.modal header h2 {
  font-size: 32px;
  font-weight: normal;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 20px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 10px;
}

form input,
form textarea {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
form textarea {
  min-height: 100px;
}
.phName {
  font-size: 26px;
}
