@import url("photographer.css");

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
}
a {
  text-decoration: none;
  color: #901c1c;
}
h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}
@media screen and (max-width: 900px) {
  .photographer_section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  header .tagscontainer {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .photographer_section {
    flex-direction: column;
  }
  h1 {
    margin-right: 20px;
  }
  .logo {
    margin-left: 20px;
  }
}
.photographer_page article,
.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photographer_section article a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.photographer_section article h2 {
  text-align: center;
}
.photographer_page article,
.photographer_page .descContainer {
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
}
.photographer_page .descContainer > * {
  margin: 5px 0;
}
.photographer_page article h2,
.photographer_section article h2 {
  color: #d3573c;
  font-size: 36px;
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}

.photographer_section article img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.imgContainer {
  overflow: hidden;
  border-radius: 100px;
  width: 200px;
  height: 200px;
}

.imgContainer img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.descContainer {
  text-align: center;
}
.descContainer * {
  padding: 0;
  margin: 0;
}
.imgGallery {
  width: 250px;
  height: 350px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.imgDivGallery {
  width: 250px;
  height: 250px;
  margin: 10px;
}
.imgDivGallery img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.descGallery {
  font-weight: 600;
  color: #901c1c;
  display: inline;
  margin: 10px;
}
.likesGallery {
  color: #901c1c;
  display: inline;
  float: right;
}
.city {
  color: #901c1c;
  font-size: 20px;
}
.photographer_photos {
  max-width: 1024px;
  margin: 0 auto;
  padding: 10px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 965px) {
  .photographer_photos {
    justify-content: center;
  }
}
@media screen and (max-width: 740px) {
  .photographer_photos {
    justify-content: space-between;
  }
}
@media screen and (max-width: 670px) {
  .photographer_photos {
    justify-content: center;
  }
}
.photographer_stats {
  background-color: #db8876;
  position: fixed;
  padding: 10px;
  bottom: 0;
  right: 20px;
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px 5px 0 0;
}
.lik {
  display: flex;
  align-items: center;
}
.fa-heart {
  margin: 0 5px;
}
.allPhotographers , header .jelly {
  cursor: pointer;
}
.jelly {
  font-weight: 600;
  color: #901c1c;
  border: 2px solid #901c1c;
  border-radius: 20px;
  font-size: 14px;
  padding: 0 4px;
  margin: 4px;
}
.tagscontainer {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.custom-selector {
  position: relative;
  display: inline-block;
  font-size: 14px;
}
.custom-selector select {
  background-color: #901c1c;
  color: white;
  padding: 6px;
  min-height: 35px;
  border-radius: 5px;
  border: 4px solid #901c1c;
  width: 110px;
}
.custom-selector select option {
  padding: 6px;
  background-color: #901c1c;
  color: white;
}

.custom-selector .selector-options {
  list-style: none;
  padding: 0;
  background-color: #901c1c;
  z-index: 1;
  position: absolute;
  right: 0px;
  top: 15px;
  width: 110px;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
}
.custom-selector .selector-options li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease;
}
.custom-selector .selector-options li:hover {
  background-color: #d3573c;
}

.invisible-link {
  background-color: #d3573c;
  border-radius: 5px;
  color: black;
  padding: 4px;
  margin: 4px auto;
  position: fixed;
  left: calc(50% - 100px);
  max-width: 200px;
  font-weight: 600;
  text-align: center;
  display: none;
  z-index: 20;
}
.invisible-link.visible {
  display: block;
}
